* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.5)), url(img/IMG_2363+3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    
}


.container {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.lhuis {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 250px;
    font-size: 500%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.395);
    text-align: center;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.container-inf0 {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titulo,
.info {
    color: rgb(249, 249, 249);
    text-align: center;
    padding: 5px;
    font-weight: normal;
}

@media (max-width: 700px) {

    .titulo {
        color: rgb(255, 255, 255);
        font-size: 25px;
    }

    .info {
        color: rgb(255, 255, 255);
        font-size: 15px;

    }
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

p {
    text-align: center;
}

.boton-clik {
    width: 300px;
    border-radius: 10px;
    outline: none;

    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ff0000;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #e7e7e7;

}

.boton-clik:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000;
}
.boton-clik-2 {
    width: 300px;
    border-radius: 10px;
    outline: none;

    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ff0000;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #e7e7e7;

}

.boton-clik-2:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000;
}
.footer {
    background-color: rgb(220, 18, 18);
    padding: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-bottom: 30px;

}

.ico {
    border-bottom: 50px;
    text-decoration: none;
}

img {
    width: 30px;
    height: auto;
    border-bottom: 50px;
    margin: 2px 12px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.518);
}